html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
header {
  background-color: #0e100f;
  color: #6ec1e4;
}
.headerIcon i {
  color: #6ec1e4;
}

.headerIcon {
  position: absolute;
  bottom: 0;
  left: 49%;
}

.headerIcon {
  position: absolute;
  bottom: 0%;
  right: 49%;
  font-size: 2rem;
  -webkit-animation: bop 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: bop 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@-webkit-keyframes bop {
  0% {
    opacity: 100;
  }
  50% {
    -webkit-transform: translateY(-1.5rem);
    transform: translateY(-1.5rem);
    opacity: 0;
  }
}

@keyframes bop {
  0% {
    opacity: 100;
  }
  50% {
    -webkit-transform: translateY(-1.5rem);
    transform: translateY(-1.5rem);
    opacity: 0;
  }
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(00 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "nunito";
}

h1 {
  font-size: 5.5rem;
  font-family: "nunito";
  margin: 0px;
  padding: 0px;
}

h3 {
  font-size: 2.5rem;
  margin-top: 10px;
  text-transform: uppercase;
}

h4 {
  font-size: 1.5rem;
  color: #ff5b78;
}
.wrapper {
  max-width: 95%;
  width: 95%;
  margin: 0 auto;
}
nav {
  border-bottom: 2px solid #ffffff;
}
p,
a,
li {
  font-family: "nunito";
  font-weight: 400;
}

.headerFlex {
  height: 100vh;
}

.headerFlex {
  display: flex;
  height: 100vh;
}

nav {
  display: flex;
  background-color: #810017;
}

.logo a {
  text-decoration: none;
  font-size: 24px;
  color: white;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.menu a:hover {
  color: #00bcd4; /* Change the color on hover */
}

.toggle {
  display: none; /* Hide the toggle button by default on larger screens */
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  font-size: 1.5rem;
  background-color: #0e100f;
}

.navContainer li {
  padding: 0 20px;
}

.headerText h2 {
  font-size: 42px;
}

.headerInfo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.headerNav {
  display: flex;
  justify-content: space-between;
}

.headerSocialContainer {
  /* border: 5px solid yellow; */
  font-size: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 25%;
}
.headerSocialContainer a:visited {
  color: black;
}
.headerTextImage {
  display: flex;
  justify-content: center;
  /* border: 5px solid green; */
}
.headerImageContainer {
  max-width: 33%;
  max-height: 100%;
  width: auto;
  height: auto;
  /* border: 5px solid purple; */
}
.headerImage {
  border-radius: 50%;
  background-color: white;
  object-fit: cover;
}
.headerSocial ul {
  list-style: none;
}

.socialLink {
  margin: 20px;
}

.proj {
  background-color: #fff;
  width: 30%;
  height: 80vh;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.proj:hover {
  transform: scale(1.05);
}
.projText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  color: white;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.projText:hover {
  opacity: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  padding: 50px;
}

.projOne {
  background-image: url("./assets/image-1.png");
}

.projTwo {
  background-image: url("./assets/image-2.png");
}
.projThree {
  background-image: url("./assets/image-3.png");
}

.projLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

.projLinks a {
  text-decoration: none;
}

ul {
  display: flex;
  padding: 0px;
  justify-content: center;
}

ul li {
  list-style: none;
}

.projects {
  height: 100vh;
  margin-top: 40px;
}

.freeAgent {
  height: 100vh;
  margin-top: 40px;
}

.projFlex {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.proj {
  background-color: white;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 80vh;
}

.projLinks a {
  color: white;
  /* border: 1px solid white; */
  border-radius: 12%;
  padding: 6px;
  margin: 10px;
}

.languages {
  height: auto;
  text-align: center;
  margin-top: 50px;
}

.languages ul {
  padding: 0px 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.languages li {
  margin: 0 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100px;
}

.languages li img {
  width: 40px;
  margin: 12px;
  max-height: 55px;
}

.languages h4 {
  color: #810017;
}

.aboutMe {
  display: flex;
  background-color: rgb(210, 226, 232);
  justify-content: center;
  align-items: center;
}

.aboutFlex {
  width: 80%;
  display: flex;
  justify-content: center;
}

.aboutContainer {
  display: flex;
  justify-content: center;
  margin: 50px;
}
/* To make the image a circle and smaller */
.aboutImg .imgContainer {
  width: 300px; /* Adjust this to the size you want */
  height: 300px; /* Same as width to make it a perfect circle */
  overflow: hidden; /* Ensures the image doesn't overflow the container */
  border-radius: 50%; /* Makes the container a circle */
  display: flex;
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically */
  margin-right: 100px;
}

/* To make the image fit inside the circle */
.aboutImg .headerImage {
  width: 100%; /* Makes the image fill the container */
  height: 100%; /* Keeps the image proportional */
  object-fit: cover; /* Ensures the image fills the circle and crops it if necessary */
}

.aboutText {
  display: flex;
  align-items: center;
}

.headerSocial ul {
  display: flex;
  width: 30vw;
  text-decoration: none;
  justify-content: space-around;
}

.textContainer {
  margin: 10px;
}

.headerTextSocial {
  display: flex;
  /* border: 5px solid blue; */
  margin: 10px;
  padding-left: 80px;
  padding-right: 80px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.headerText {
  /* border: 5px solid black; */
}

.headerText span {
  color: #810017;
}
.imgContainer {
  max-height: 60vh;
  height: auto;
}

img {
  height: 55vh;
  width: auto;
  display: block;
}

.contact {
  background-color: rgb(210, 226, 232);
  display: flex;
  align-items: center;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: space-around;
}

.flexContact {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 25vh;
}

.contactText {
  width: 50%;
  text-align: center;
}

.contactForm {
  width: 50%;
}

footer p {
  text-align: center;
  background-color: #810017;
  margin: 0px;
  padding: 10px;
  color: white;
}

#message {
  height: 50%;
}

.proj ul li {
  padding: 5px;
}

.aboutMe h3 {
  color: #810017;
}

.contact h3 {
  color: #810017;
}

.word {
  height: 100%;
  margin: auto;
  color: white;
  font: 700 normal 2.5em "tahoma";
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

@media (max-width: 750px) {
  .menu {
    display: none; /* Hide the menu on small screens */
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #333;
    z-index: 1;
  }

  .menu.active {
    display: flex; /* Show the menu when the toggle button is clicked */
  }

  .toggle {
    display: block; /* Show the toggle button on small screens */
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .projFlex {
    flex-direction: column;
    align-items: center;
  }
  .proj {
    width: 95%;
    margin: 20px;
    padding: 0px;
  }

  .aboutMe {
    height: auto;

    padding: 20px;
  }

  .aboutFlex {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .contact {
    height: auto;
  }

  .flexContact {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .languages {
    height: auto;
    margin-top: 50px;
  }

  ul {
    flex-wrap: wrap;
  }

  .projText {
    opacity: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    padding: 50px;
  }

  .headerImg {
    display: none;
  }

  .headerText {
    margin: 0px;
    padding: 0px;
    text-align: center;
  }

  h3,
  h4 {
    text-align: center;
  }
}
